@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lexend Deca';
  background-color: #E4F8D4;
  cursor:default;
}